header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: blue;
    background-color: lightpink;
}

menu{
    background-color: aliceblue;
    color: royalblue;
    text-align: center;
}

a.sub:hover{
    background-color: yellow;
    color: black;
}

div.ediciones{
    margin-left: 11%;
    margin-right: 66%;
    height: 340px;
    background-color: lightsalmon;
}

div.ediciones p{
    text-align: center;
    color: blue;
}

img{
    width: 350px;
    height: 270px;
}

div.nominados{
    margin-left: 50%;
}

div.nominados{
    position: relative;
    bottom: 330px;
    margin-left: 31%;
    margin-right: 45%;
    height: 340px;
    background-color: lightseagreen;
    z-index: 1;
}

div.nominados p{
    text-align: center;
    color: red;
}

div.contacto{
    position: relative;
    bottom: 630px;
    margin-left: 51%;
    margin-right: 25%;
    height: 340px;
    background-color: lightsalmon;
    z-index: 0;
}

div.contacto p{
    text-align: center;
    color: blue;
}

footer{
    text-align: center;
    background-color: yellow;
    color: blue;
    border: 2px solid black;
    position: relative;
    bottom: 600px;
}